body{
  background-image: url("backgroundPagina.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  margin: 0;
}

h1{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}


.container{
  max-width: 1100px;
    margin: 40px auto;
}

.factura,
.historial{
  background-color: #ffffff;
  border-radius: 18px;
  padding: 24px;
}


label{
  font-weight: 600;
  margin-bottom: 6px;
}

input{
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ced4da;
}

input:focus{
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.15rem rgba(13,110,253,.25);
}


table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th{
  background-color: #f1f3f5;
  font-weight: 600;
}

th, td{
  padding: 10px;
  text-align: center;
}

tr:hover{
  background-color: #f8f9fa;
}


button{
  border-radius: 8px;
}

#totalFactura{
  font-size: 1.8rem;
  font-weight: 700;
}


#error{
  font-weight: 500;
}
.titulo-print{
  display: none;
}

/* PRINT */
@media print{
  button, .historial, .no-print{
    display: none !important;
  }
  .titulo-print{
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;

  }
  .titulo-factura{
    display: none;
  }
  input{
    border: none;
    box-shadow: none;
    pointer-events: none;
  }

  body{
    background: #ffffff;
  }

  .container{
    box-shadow: none !important;
  }

  table{
    border: none !important;
  }
}